<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SourceOneAgentLog" />
    </root>
    <appender name="SourceOneAgentLog" type="log4net.Appender.RollingFileAppender">
      <!-- define file path -->
      <file value="Logs\S1AgentService.log" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- log format -->
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}  %-10SourceOneAgentLog  %-7level  %type.%M()  Line(%L)   %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
