<h1>Listing product_environments</h1>

<%= render :partial => '/product_environments/product_environments_list', :object => @product_environments %>

<br>

<%= link_to 'New Product environment', new_product_supported_environment_path %>
