<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="loggerName" value="JobMgrWinServiceLog" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="JobMgrWinServiceLog" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="JobMgrWinServiceLog" type="log4net.Appender.RollingFileAppender">
      <!-- define file path -->
      <file value="Logs\JobMgrWinService.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="5MB" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- log format -->
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}  %-10JobMgrWinService  %-7level  %type.%M()  Line(%L)   %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="neil.wang@emc.com,sam.sun@emc.com" />
      <from value="galaxy@emc.com" />
      <subject value="[Galaxy Error] Jobs Manager Services Error" />
      <smtpHost value="10.98.28.190" />
      <bufferSize value="32" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}  %-10JobMgrWinService  %-7level  %type.%M()  Line(%L)   %message%newline" />
      </layout>
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ES1AutomationEntities" connectionString="metadata=res://*/Model.ATFModel.csdl|res://*/Model.ATFModel.ssdl|res://*/Model.ATFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.98.28.191;initial catalog=ES1Automation;Persist Security Info=True;User ID=sa;Password=qampass1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
