<h1>Editing Automation Task</h1>

<fieldset>
	<legend class="galaxy_legend">Edit Task</legend>
	<%= render 'form' %>
</fieldset>

<%= link_to 'Show', @automation_task %> |
<%= link_to 'Back', automation_tasks_path %>
